.card-container {
    display: flex;
    flex-direction: column;
    background-color: gray;
    border: 1px solid black;
    border-radius: 5px;
    padding: 12px;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }

  .card-text{
    font-size: small;
    font-family: monospace ;
  }

  .card-title{
    font-weight: bold;
    font-family: monospace ;
    font-size: large;

  }
  